= form_with url: weather_retrieve_url do |f|
    .form-floating.mb-3
        = f.text_field :address, class: "form-control", required: true
        = f.label :address, "US address or zip code."
    = f.submit 'Search forecast', class: "btn btn-secondary"