.container.my-3
    %header
        .d-flex.flex-column.flex-md-row.align-items-center.pb-3.mb-4.border-bottom
            .fs-4 Weather App
    .bg-body-tertiary.p-5.rounded
        = turbo_frame_tag do
            = render 'form'

        %br
        = turbo_frame_tag 'response'

%footer.text-body-secondary.py-5
    .container
        %p.fs-6
            Powered by
            %a{ href: "https://www.weatherapi.com/", title: "Free Weather API" }
                WeatherAPI.com